<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Covid-19 Tracker India</h1>
            <p>Get all the information you need about Covid-19 in India</p>
        </header>
        <ul class="List_of_States">
            <li>Maharashtra</li>
            <li>Tamil Nadu</li>
        </ul>
    </body>
</html>